body {
  --text-size-normal: 1rem;
  --text-size-big: 1.25rem;
  --text-size-header: 1.8rem;

  --text-weight-normal: 400;
  --text-weight-bold: 600;

  // styling

  --border-radius: 0.5rem;
  --border-radius2: 0.25rem;
}
