.header {
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 2px 10px;

  background-color: var(--background-element);

  .left {
    display: flex;
    align-items: center;
    gap: 10px;

    .menuicon {
      width: 2rem;
      height: 2rem;
      cursor: pointer;
    }
    .sitename {
      color: var(--text);
      font-weight: bold;
      user-select: none;
      cursor: pointer;
    }
  }
}
